
    <div class="row">
        <div class="col-md-12" >
            <h1 class="titoletto">  Add Note </h1>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-4">
            <form>
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="name">
                <br>

                <label for="surname">Date</label>
                <input type="text" class="form-control" id="surname" ng-model="date">
                <br>

                <label for="sex">Text</label>
                <input type="text" class="form-control" id="sex" ng-model="text">
                <br>

            </form>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <button type="button" class="btn btn-default" id="spazio" ng-click="insertClick()">Add</button>
        </div>
    </div>